<style>
    .text-muted-custom {
        color: #6c757d !important;
    }
</style>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted-custom">&copy; WildCampsy 2023</span>
    </div>
</footer>